Options -ExecCGI -Indexes
RemoveHandler .php .php3 .php4 .php5 .phtml .pl .py .jsp .asp .sh .cgi
RemoveType .php .phtml

<FilesMatch "\.(php[0-9]?|phtml|pl|py|jsp|asp|sh|cgi)$">
    Require all denied
</FilesMatch>
